// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "compass_twitter_bootstrap";
@import "compass_twitter_bootstrap_responsive";

body {
	background: url("/assets/body.png") repeat scroll 0 0 transparent;
	font-family: Lucida Grande,Verdana,Arial,sans-serif;
	line-height: 1.5em;
}
a {
	color: #575246;
	text-decoration: none;
	border-bottom: 1px dotted #84785A;
}
a:hover, a:active {
	color: #6D1308;
	border-bottom: 1px dotted #6D1308;
	text-decoration: none;
}
a.img-link {
	border-bottom: none;
}
.btn-primary {
	background-color: #990000;
}
#sul-wrapper {
	background: url("/assets/wrapper.png") repeat-x scroll 0 0 transparent;
	text-align: center;
	padding-top: 15px;
}

#container {
	background: url("/assets/top-container.png") repeat-x scroll 0 0 #FFFFFF;
  	border-radius: 3px 3px 3px 3px;
  	border-top: 1px solid #FFFFFF;
	margin: 0 auto;
	padding: 10px 40px 40px;
	// width: 960px;
	text-align: left;
	background-color: #FFFFFF;
}
#header {
	margin-bottom: 20px;
}
#links {
	float: right;
}
#header #links span {
	color: #999999;
}

footer {
	text-align: center;
	padding: 17px 0;
}
footer img.footer-logo {
	vertical-align: top;
}
footer a {
	margin-right: 10px;
}
footer #footer-links {
	display: inline-block;
	margin-left: 10px;
}
@mixin primary-button {
  background-color: #9D3225;
  *background-color: #9D3225;
  background-image: -ms-linear-gradient(top, #ee5f5b, #bd362f);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#9D3225), to(#7C1306));
  background-image: -webkit-linear-gradient(top, #9D3225, #7C1306);
  background-image: -o-linear-gradient(top, #ee5f5b, #bd362f);
  background-image: -moz-linear-gradient(top, #ee5f5b, #bd362f);
  background-image: linear-gradient(top, #9D3225, #7C1306);
  background-repeat: repeat-x;
  border-color: #bd362f #bd362f #802420;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ee5f5b', endColorstr='#bd362f', GradientType=0);
  filter: progid:dximagetransform.microsoft.gradient(enabled=false);
  color: #FFFFFF;    

	&:hover,
	&:active,
	&.active,
	&.disabled,
	&[disabled] {
    background-color: #9D3225;
	  *background-color: #9D3225;
	  background: -webkit-gradient(linear, left top, left bottom, from(#9D3225), to(#510E06));
	  background: -moz-linear-gradient(center top , #9D3225, #510E06) repeat scroll 0 0 transparent;
	  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9D3225', endColorstr='#510E06',GradientType=0 );	
	  color: #FFFFFF;
	}
	&:active
	&.active {
		background-color: #9D3225 \9;
	}
}